ul{
list-style-type: none;
margin: 0;
padding: 12px;
overflow: hidden;
background-color: orange;
}

li{
    float: left;
}

li a{ 
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover{ 
    background-color: red;
}
