ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: orange;
width: 40%;
position: fixed;
}

li{
    float: left;
}
div{ float: right;}

li a{ 
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 10px 10px;
text-decoration: none;
}

li a:hover{ 
    background-color: rgb(255, 204, 108);
    color: rgb(0, 0, 0);

}
